@import './base.css';


#app {
  /* max-width: 1280px; */
  font-weight: normal;
  /* background-color: white; */
}
* {
  box-sizing: border-box;
}
body, html {
  margin: 0px;
  padding: 0px;
  font-size: 1rem;
  background-color: rgb(252, 248, 243);
}

      
.unselectable {
  user-select: none; /* Non-standard syntax for some browsers */
  -webkit-user-select: none; /* For Safari */
  -moz-user-select: none; /* For Firefox */
  -ms-user-select: none; /* For Internet Explorer/Edge */
  direction: rtl; /* Set direction to right-to-left */
  text-align: right;
}

input {
  font-size: 1.3rem;
  user-select: all;
}

a {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
    border-radius: 14px;
  }
}


.outer {
  display: flex;
  position: relative;
  text-align: center;
  align-items: center;
}

.outer div:last-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
